:root{
    --c-brand: #508EE5;
    --c-brand-light: rgba(80,142,229,0.8);
    --c-border: #508EE5;
}

html.dark {
    --c-brand: #508EE5;
    --c-brand-light: rgba(80,142,229,0.8);
    --c-border: #508EE5;
}